@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap");

* {
  padding: 0px;
  margin: 0px;
}
body {
  min-height: 100vh;
  background: url(./img/bg.png) center/cover no-repeat;
}
img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.banner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 5;

  border-radius: 40px;

  color: hsl(0, 0%, 95%);
  text-align: center;

  font-family: "Rouge Script", sans-serif;
  font-weight: 400;

  h1 {
    font-size: 40px;
  }
}
footer {
  position: absolute;
  bottom: 0px;

  padding: 4px;
  font-family: "Rouge Script", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: hsl(0, 0%, 95%);
  text-shadow: 0px 0px 2px black;
  a {
    text-decoration: none;
    color: hsl(0, 0, 95);
  }
}
